* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/download.jpeg');
    background-size: cover;
    background-position-y:  -100px;
  
}
.background {
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;
    height: 100vh;
}
#header {
    width: 90%;
    height: 4.375rem;
    margin: auto;
   
}
#header nav ul {
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

#header nav ul a {
    text-decoration: none;
    
}

#header nav ul a li {
   list-style: none;
   padding: 15px;
   margin: 0 50px;
   text-transform: uppercase;
   color: #fff;

   border-bottom: 2px solid #00000000;
}

#header nav ul a:nth-child(1) li {
    list-style: none;
   
   border-bottom: 2px solid #408d29f3;
    
    
 }
 #header nav ul a:nth-child(2) li {
    list-style: none;
   

    
    font-size: 25px;
 }
 
 #header nav ul a li:hover {
   border-bottom: 2px solid #408d29f3;

 }

 #container {
    display: flex;
    height: calc(100vh -  4.375rem);
 }

 #container .left {
    width: 50%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
 }

 #container .box {
    width: 300px;
    height: 500px;
    background-color: #581313;
 }
 #container img {
    position: absolute;
    width: 540px;

    bottom: 0;
    
 }

 #container .right {
    width: 50%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;

    
 }

 #container .right .box-text {
    width: 420px;
    display: flex;
    align-items: center;
 }

 #container .right .box-text p {
    color: #fff;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .linha {
    width: 100%;
    height: 7px;
    background-color:#581313 ;
 }

 #sobre {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1C1C;
 }

 #sobre .container {
    width: 80%;
    height: 400px;
    display: flex;
    
 }

 #sobre .left {
    width: 400px;
    
 }

 #sobre .right {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #sobre .right .club {
    width: 100%;
    display: flex;
    justify-content: center;
 }

 #sobre .right .club img {
    width: 100px;
 }


 #sobre .right .frase {
    width: 400px;
    
 }
 #sobre .right .frase p {
    margin-top: 30px;
    font-size: 19px;
    color:#fff ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }


 #premios {
    width: 100%;
    height: 500px;
    background-color: #1D1C1C;
 }

 #premios .title {
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #581313;

    position: relative;
 }

 #premios .title span {
    width: 50%;
    height: 70px;
 }

 #premios .title h2 {
    color: #fff;
   font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    right: -160px;

 }

 #premios .area-slider {
   width: 70%;
   height: 400px;
  
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #premios .swiper {
    width:90%;
    display: flex;
    justify-content: center;

 }

 #premios .swiper-slide {
   display: flex;
   justify-self: center;
   height: 300px;
 }

 #premios .swiper-slide .box-slider {
   width: 400px;
   margin: auto;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
 }

 #premios .swiper-slide .box-slider span {
   font-size: 22px;
 }